*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.colorr {
    background-color: aquamarine;
    color: red !important;
    font-family: "Cambria";
    font-weight: normal;
    font-size: 4rem;
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

.nav-link {
    color: red;
}

.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar {
    width: 15%;
    height: 100vh;
}

.not-nav {
    width: 85%;
}